@import "../../../style.scss";

.search-mobile {
    position: absolute;
    top: 45px;
    transition: .3s;
    left: 0;
    @include themify($themes){
        display: flex;
        transition: .3s;
        width: 99%;
        margin: 0 .5px;
        input {
            border: none;
            width: 64%;
            background-color: themed("bgSoft");
            color: themed("textColor");
        }
        button {
            width: 35%;
            border: none;
            background-color: #5271ff;
            color: white;
            transition: .1s ;
            cursor: pointer;
        }
    }
}