@import "../../style.scss";


.custom {
  @include themify($themes){
    padding: 10px 70px;
    background-color: themed("bgSoft");
    min-height: 100vh;
    // box-sizing: border-box;

    
    @include tablet{
      padding: 20px;
    }

    @include mobile{
      padding: 10px;
    }

  }
}