@import "../../style.scss";



.posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
    @include themify($themes) {

        .loading {
            text-align: center;
        }

        @include tablet {
            gap: 20px;
        }




    }
}