@import "../../style.scss";


.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 50px);
        overflow: scroll;


        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        background-color: themed("bgSoft");

        .container {
            padding: 20px;

            .item {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

                padding: 20px;
                margin-bottom: 20px;
                background-color: themed("bg");

                .title {
                    color: themed("textColorSoft");
                    font-weight: 550;

                }

                .question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;

                    .questionInfo {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;

                        img {

                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        span {
                            font-size: 13px;
                            color: themed("textColor");
                        }
                        p {
                            color: themed("textColorSoft");
                            font-size: 10px;

                            span {
                                font-size: 13px;
                                color: themed("textColor");
                            }
                        }

                        

                    }

                    .result {
                        display: flex;
                        align-items: center;
                        gap: 10px;


                        .rate {
                            color: themed("textColorSoft");
                        }
                    }

                    .time-solved {
                        font-size: 10px;
                    }
                }
            }
        }

    }
}