@import "../../style.scss";

.mobile-menu {
    @include themify($themes) {

        display: none;
        color: themed("textColor");

        
        @include tablet{
            display: none;
            // z-index: 100000;
        }
        @include mobile{
            display: block;
            position: fixed;
            top: 8px;
            // height: 10px;
            right: 25px;
            z-index: 100000;
        }

    }
}



.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 50px);
        overflow: scroll;

        @include tablet{
        }
        @include mobile{
            display: none;
        }


        &::-webkit-scrollbar{
            display: none;
        }

        background-color: themed("bgSoft");

        .container {
            padding: 20px;
            a{
                text-decoration: none !important;
                color: themed("textColor");
            }
            .tab-item{
                display: none;
                @include tablet{
                    display: block;
                }
                span{
                    color: themed("textColorSoft");
                    font-weight: 550;
                    text-align: center;
                }
            }
            .item {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

                padding: 20px;
                margin-bottom: 20px;
                background-color: themed("bg");

                .title {
                    color: themed("textColorSoft");
                    font-weight: 550;

                }

                .rated-question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;

                    .questionInfo {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;


                        span {
                            font-size: 13px;
                            color: themed("textColor");
                        }

                        p {
                            color: themed("textColorSoft");
                            font-size: 10px;

                            span {
                                font-size: 13px;
                                color: themed("textColor");
                            }
                        }



                    }

                    .result {
                        display: flex;
                        align-items: center;
                        gap: 10px;


                        .rate {
                            color: themed("textColorSoft");
                        }
                    }

                }

                .solved-question {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin: 20px 0px;
                    flex-direction: column;

                    .questionInfo {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;


                        span {
                            font-size: 13px;
                            color: themed("textColor");
                        }

                        p {
                            color: themed("textColorSoft");
                            font-size: 10px;

                            span {
                                font-size: 13px;
                                color: themed("textColor");
                            }
                        }



                    }


                    .time-solved {
                        color: themed("textColorSoft");
                        font-size: 10px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }
                }
            }
        }

    }
}