@import "../../style.scss";

.leftbar {

    @include themify($themes) {


        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 50px);
        overflow: scroll;

        @include tablet{
            display: none;
        }
        @include mobile{
            display: none;
        }

        &::-webkit-scrollbar{
            display: none;
        }

        background-color: themed("bg");
        color: themed("textColor");

        .container {

            padding: 20px 0;

            hr {
                margin: 20px 0px;
                background-color: themed("border");
                border: none;
                height: 0.5px;
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 20px;

                

                .active{
                    background-color: themed("bgSoft");
                    border-right: 3px solid themed("bg");
                    border-left: 3px solid themed("bg");
                    padding: 20px;
                    a {
                        text-decoration: none;
                        color: themed("logo");
                    }
    
                    span {
                        font-size: 16px;
                        transition: .2s;
                        
                    }
                }
                .item{
                    padding: 20px;
                    a {
                        text-decoration: none;
                        color: themed("textColor");
                    }
                    
                    span {
                        font-size: 14px;
                        transition: .2s;

                    }
                }

            }

        }

    }

}