@import "../../style.scss";

.login {
    @include themify($themes) {
        height: 100vh;
        background-color: themed("bgSoft");
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 30%;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 10px;
            background-color: themed("bg");
            color: themed("textColor");
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            gap: 35px;
            margin: 20px 0px;
            padding: 20px;
            a{
                text-decoration: none;
                color: themed("textColor");
            }
            @include mobile {
                width: 80%;
            }

            button {
                border: none;
                background-color: #5271ff;
                color: white;
                padding: 10px;
                cursor: pointer;
                border-radius: 3px;
                width: 25%;
            }

            input {
                border-radius: 3px;
                flex: 5;
                padding: 10px;
                // width: 65%;
                background-color: themed("bgSoft");
                color: themed("textColor");
            }
            .err {
                background-color: #D84646;
                padding: 10px;
                color: whitesmoke;
                text-align: center;
                font-size: 10px;
            }
        }
    }
}