@import "../../../style.scss";

.code-block-container {
    @include themify($themes) {
        margin: 5px 0;
        border-radius: 5px;
        max-height: 300px;
        overflow-y: scroll;
        position: relative;
        
        .code-block {
            font-size: 12px !important;
            background-color: themed("bgSoft") !important;
            color: themed("textColor") !important;
            font-weight: 500;
            padding: 15px !important;
            border: 1px solid themed("border");
            
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        @include mobile {
            width: 310px;

            &::-webkit-scrollbar {
                width: 3px;
            }
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: themed("bgSoft");
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: themed("border");
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: themed('textColor');
        }
        .copy-to-clipboard{
            // font-size: 20px;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            margin: 2px;

        }
    }
}