@import "../../style.scss";

.post {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: themed("bg");
        color: themed("textColor");


        .container {
            padding: 5px 20px;

            hr {
                margin: 0px 0px;
                // margin-top: 20px;
                background-color: themed("border");
                border: none;
                height: 0.5px;
            }

            span {
                font-size: 16px;
                color: themed("textColor");
            }

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px 0px;

                span {
                    color: themed("textColorSoft");
                    font-size: 12px;
                }

                label {
                    font-size: 10px;
                    color: themed("textColorSoft");
                }
            }

            .question {
                margin: 15px 0px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 10px;

                .content {
                    font-size: 12px;
                }

                span {
                    font-size: 12px;
                }

                .info {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        font-size: 10px;

                        .icons {
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}