@import "../../style.scss";



.navbar {
    @include themify($themes) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        height: 70px;
        padding: 10px 20px;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 10;
        box-sizing: border-box;

        .left {
            display: flex;
            align-items: center;
            gap: 30px;
            .darkMode {
                cursor: pointer;
            }

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");

                @include mobile {
                    font-size: 16px;
                }
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    width: 500px;
                    color: themed("textColor");
                    background-color: themed("bg");

                    @include mobile {
                        display: none;
                    }

                    @include tablet {
                        width: 200px;
                    }
                }
            }

            .user {
                display: flex;
                flex-direction: row-reverse;
                gap: 5px;
                align-items: center;
                position: relative;
                @include mobile {
                    flex-direction: column-reverse;
                }

                span {
                    font-weight: bold;
                    color: themed("textColorSoft");
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .login-button {
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    font-size: 16px;
                }

                .admin-sign {
                    font-size: 8px;
                    position: absolute;
                    left: 1px;
                    color: themed("unlogo");
                    top: -5px;
                }
            }
        }



        .right {
            display: flex;
            gap: 20px;
            align-items: center;

            .user {
                display: flex;
                flex-direction: row-reverse;
                gap: 5px;
                align-items: center;
                position: relative;
                @include mobile {
                    flex-direction: column-reverse;
                    gap: 0px;
                }

                span {
                    font-weight: bold;
                    color: themed("textColorSoft");
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .login-button {
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    font-size: 16px;
                }

                .admin-sign {
                    font-size: 8px;
                    position: absolute;
                    left: 1px;
                    color: themed("unlogo");
                    top: -5px;
                }
            }
        }

    }

}