@import "../../style.scss";

.navbar-items-mobile {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px 0 0 5px;
        gap: 20px;
        background-color: themed("logo");
        position: fixed;
        top: 40px;
        right: 0px;
        // width: 150px;
        font-weight: 600;
        transition: .2s;
        opacity: 90%;
        // height: 350px;
        
        .normal-tab{

            span {
                text-decoration: none;
                font-size: 12px;
                cursor: pointer;
                color: themed("border");
                display: inline-block;
                // word-wrap: unset;
                // word-break: keep-all;
                white-space: nowrap;
            }
        }
        .active-tab{

            span {
                text-decoration: none;
                font-size: 12px;
                cursor: pointer;
                color: themed("unlogo");
                display: inline-block;
                white-space: nowrap;
            }
        }

        .user {
            .user-details{
                color: themed("border");
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // flex-direction: row-reverse;
                gap: 5px;

                .admin-sign {
                    font-size: 8px;
                    // position: absolute;
                    // left: 0;
                    color: themed("unlogo");
                    // top: -5px;
                }
    
                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
        }
        .darkMode{
            color: themed("border");
        }
    }
}

.navbar {
    @include themify($themes) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        height: 70px;
        padding: 10px 20px;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 10;
        box-sizing: border-box;

        @include mobile {
            height: 40px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 30px;

            .darkMode {
                cursor: pointer;
            }

            @include mobile {
                .darkMode {
                    display: none;
                }

                justify-content: space-between;
                gap: 150px;
            }

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");
                letter-spacing: -2px;

                @include mobile {
                    font-size: 18px;
                    letter-spacing: -2px;
                }
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;

                @include mobile {
                    border: none;
                    display: none;
                }

                input {
                    border: none;
                    width: 500px;
                    color: themed("textColor");
                    background-color: themed("bg");

                    @include tablet {
                        width: 200px;
                    }

                    @include mobile {
                        display: none;
                    }

                }
            }

            .search-button {
                display: none;

                @include mobile {
                    display: block;
                }
            }

            .user {
                display: flex;
                flex-direction: row-reverse;
                gap: 5px;
                align-items: center;
                position: relative;

                @include mobile {
                    flex-direction: column-reverse;
                }

                span {
                    font-weight: bold;
                    color: themed("textColorSoft");
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .login-button {
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    font-size: 16px;
                }

                .admin-sign {
                    font-size: 8px;
                    position: absolute;
                    left: 1px;
                    color: themed("logo");
                    top: -5px;
                    font-weight: bold;
                }
            }
        }



        .right {
            display: flex;
            gap: 20px;
            align-items: center;

            @include mobile {
                display: none;
            }

            .user {
                display: flex;
                flex-direction: row-reverse;
                gap: 5px;
                align-items: center;
                position: relative;


                span {
                    font-weight: bold;
                    color: themed("textColorSoft");
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }

                .login-button {
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    font-size: 16px;
                }

                .admin-sign {
                    font-size: 8px;
                    position: absolute;
                    left: 1px;
                    color: themed("unlogo");
                    top: -5px;
                }
            }
        }

        .mobile-menu-trigger {


            display: none;
            color: themed("textColor");

            @include tablet{
                display: none;
            }

            @include mobile{
                display: block;
            }


        }



    }

}