@import "../../../../style.scss";

#toolbar-add {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          background-color: themed("bg");
          color: themed("textColor");
        .add-btn {
            color: themed("textColorSoft");
            font-size: 12px;
            padding-left: 15px;
            font-weight: bold;

            @include tablet {
                padding-left: 5px;
            }
        }
        .add-btn:hover{
            color: rgb(0, 166, 255);
          }
    }
}