@import "../../../style.scss";

.linear-loader{
    @include themify($themes) {
        position: fixed;
        top: 70px;
        width: 100%;
        left: 0;
        z-index: 9;
        @include mobile{
            top: 39px;
        }
    }
}