@import "../../style.scss";

.about {
    @include themify ($themes) {

        // padding: 10px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // color: themed("textColor");
        // background-color: themed("bgSoft");
        padding: 30px 70px;
        background-color: themed("bgSoft");
        min-height: 100vh;
        // box-sizing: border-box;


        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }

        .container {
            padding: 50px 20px;
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 10px;
            background-color: themed("bg");
            color: themed("textColor");
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-sizing: border-box;
        }
    }


}